# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Java
*.class

# OS
.DS_Store
Thumbs.db
src/main/resources/.env